apiVersion: apps/v1
kind: Deployment
metadata:
  name: testapp1-deployment
  labels:
    app: testapp1
spec:
  replicas: 3
  selector:
    matchLabels:
      app: testapp1
  template:
    metadata:
      labels:
        app: testapp1
    spec:
      containers:
      - name: testapp1
        image: nginx:1.14.4
        ports:
        - containerPort: 80